<mat-card>
  <mat-card-title>
    Tables:
    <button mat-button color="primary" (click)="addTable()">Add Table</button>
    <button mat-button color="primary" disabled>Save Template</button>
    <button mat-button color="primary" disabled>Load Template</button>
  </mat-card-title>

  <!-- Readonly value table -->
  <mat-expansion-panel *ngIf='readonlyTable'>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>{{readonlyTable.name}}</b> &nbsp;&nbsp; "Readonly Values" can be used in any table. Its value is constant after the first evaluation.
      </mat-panel-title>
    </mat-expansion-panel-header>
    <button mat-stroked-button color="primary" (click)="addReadonlyValue()">Add Readonly Value</button>
    <mat-list>
      <app-column *ngFor='let column of readonlyTable.columns' [column]='column' [table]='readonlyTable'></app-column>
    </mat-list>
    <br>
  </mat-expansion-panel>

  <br>

  <!-- Data tables -->
  <mat-accordion>
    <app-table *ngFor='let table of tables' [table]='table'></app-table>
  </mat-accordion>
</mat-card>

<mat-card>
  <mat-card-title>
    Output:
    <button mat-button (click)="generate()" [disabled]="busy" color="primary">Generate</button>
    <button mat-button (click)="toggleView()" [disabled]="busy" color="primary">{{toggleViewName}}</button>
    <a mat-button [href]="downloadUri" download="dataset.json" [disabled]="busy" color="primary">Download</a>
    <button mat-button (click)="clear()" [disabled]="busy" color="primary">Clear Data</button>
  </mat-card-title>

  <mat-spinner *ngIf="busy" diameter="20"></mat-spinner>
  <p>
    "Clear Data" to remove the generated data set if the app is slow; or switch to "Basic View". <br>
    "Pretty View" is not recommended for large data sets.
  </p>
  <p *ngIf="!prettyView">{{textData}}</p>
  <ngx-json-viewer *ngIf="prettyView" [json]="jsonData" [expanded]="false"></ngx-json-viewer>
</mat-card>
