<!-- Input for number -->
<mat-form-field *ngIf="settings && settings.type == dataTypes.number" required>
  <mat-label>{{name}}</mat-label>
  <input matInput type="number" [(ngModel)]='settings.value'>
</mat-form-field>

<!-- Input for string -->
<mat-form-field *ngIf="settings && settings.type == dataTypes.string" required>
  <mat-label>{{name}}</mat-label>
  <input matInput type="text" [(ngModel)]='settings.value'>
</mat-form-field>

<!-- Input for Random -->
<app-random-input *ngIf="!settings || (settings.type != dataTypes.number && settings.type != dataTypes.string)" [column]='column'  [name]='childName' [(random)]='value'></app-random-input>

<br>
