<mat-expansion-panel *ngIf='table && !table.logicallyDeleted'>

  <mat-expansion-panel-header>
    <mat-panel-title>
      <b>{{table.name}} (Rows: {{table.numRows.getDisplayName()}})</b>
    </mat-panel-title>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <app-toggle-controls [buttons]='buttons' (clicked)='buttonClicked($event)'></app-toggle-controls>

  <mat-list>
    <app-column *ngFor='let column of table.columns' [column]='column' [table]='table'></app-column>
  </mat-list>
  <br>

  <mat-accordion>
    <app-table *ngFor='let child of table.children' [table]='child'></app-table>
  </mat-accordion>
  <br>

</mat-expansion-panel>
