<mat-expansion-panel *ngIf='table'>

  <mat-expansion-panel-header>
    <mat-panel-title>
      {{table.getName()}} [min:{{table.getMinRows()}}, max: {{table.getMaxRows()}}]
    </mat-panel-title>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <button mat-button (click)="editTableData()" color="primary">Edit {{table.getName()}}</button>
  <button mat-button (click)="removeTable()" color="primary">Delete {{table.getName()}}</button>
  <button mat-button (click)="addNestedTable()" color="primary">Add Child Table</button>

  <br><br>

  <mat-accordion>
    <app-table *ngFor='let child of table.children' [table]='child'></app-table>
  </mat-accordion>
  <br>

</mat-expansion-panel>
