<mat-expansion-panel *ngIf='table'>

  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-card-title>
      {{table.name}} [min:{{table.minRows}}, max: {{table.maxRows}}]
      </mat-card-title>
    </mat-panel-title>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <app-toggle-controls [buttons]='buttons' (clicked)='buttonClicked($event)'></app-toggle-controls>

  <mat-list>
    <mat-list-item> <b>{{table.name}} Columns</b> </mat-list-item>
    <mat-divider [inset]="true"></mat-divider>
    <app-column *ngFor='let column of table.columns' [column]='column'></app-column>
  </mat-list>
  <br>

  <mat-accordion>
    <app-table *ngFor='let child of table.children' [table]='child'></app-table>
  </mat-accordion>
  <br>

</mat-expansion-panel>
